@font-face {
  font-family: 'Roboto-Light';
  src: url('Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto-Normal';
  src: url('Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Condensed';
  src: url('RobotoCondensed-Regular.ttf');
}

body {
  font-family: 'Roboto-Light';
}

ul {
  margin-bottom: 0px;
}

.question {
  font-family: 'Roboto-Condensed';
  font-size: 24px;
}

.attribute {
  font-family: 'Roboto-Normal';
}